body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
input, button {
    margin-top: 10px;
}
.container {
    text-align: center;
    width: 50%;
}
#passwordOutput {
    width: 80%;
    padding: 8px;
    margin-top: 20px;
}
#generateBtn {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    width: 80%;
}